[submodule "radconpy"]
	path = radconpy
	url = https://github.com/rxsio/radconpy.git
[submodule "rxsio_telemetry"]
	path = rxsio_telemetry
	url = https://github.com/rxsio/rxsio_telemetry.git
	branch = humble
[submodule "ldrobot-lidar-ros2"]
	path = ldrobot-lidar-ros2
	url = https://github.com/Myzhar/ldrobot-lidar-ros2.git
[submodule "bno055"]
	path = bno055
	url = https://github.com/flynneva/bno055.git
