[submodule "radconpy"]
	path = radconpy
	url = https://github.com/rxsio/radconpy.git
[submodule "rxsio_telemetry"]
	path = rxsio_telemetry
	url = https://github.com/rxsio/rxsio_telemetry.git
	branch = humble
[submodule "bno055"]
	path = bno055
	url = https://github.com/flynneva/bno055.git
[submodule "ldlidar_sl_ros2"]
	path = ldlidar_sl_ros2
	url = https://github.com/ldrobotSensorTeam/ldlidar_sl_ros2.git
