{
        "branches": [
                "main",
                "humble"
        ],
        "plugins": [
                [
                        "@semantic-release/exec",
                        {
                                "verifyReleaseCmd": "echo \"next_version=${nextRelease.version}\" >> $GITHUB_OUTPUT"
                        }
                ],
                [
                        "@semantic-release/commit-analyzer",
                        {
                                "preset": "conventionalcommits"
                        }
                ]
        ]
}