<launch>
    <include file="$(find-pkg-share firo_description)/launch/firo_description.launch" />
    <node pkg="controller_manager" exec="ros2_control_node" output="both">
        <param from="$(find-pkg-share firo_control)/config/controllers.yaml"/>
        <remap from="~/robot_description" to="/robot_description"/>
        <remap from="/wheel_controller/odom" to="/wheels/odom"/>
    </node>
    <node name="spherical_camera_capture" pkg="firo_ricoh" exec="image_capture" output="screen">
        <param name="output_directory" value="/exchange/spherical_images/" />
    </node>
    <node name="radcon" pkg="radconpy_ros" exec="publisher" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
    </node>
</launch>