<launch>
    <include file="$(find-pkg-share firo_description)/launch/firo_description.launch" />
    <node pkg="controller_manager" exec="ros2_control_node" output="both">
        <param from="$(find-pkg-share firo_control)/config/controllers.yaml"/>
        <remap from="~/robot_description" to="/robot_description"/>
    </node>
    <include file="$(find-pkg-share firo_control)/launch/controllers.launch"/>
</launch>